* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
}

.one {
    background-color: black;
    color: white;
    height: 80px;
    padding: 10px;
}

.one__title {
    text-align: center;
    padding: 10px;
}

.one__desc {
    text-align: center;
    padding-bottom: 10px;
}

.two__card{
    border: solid black 2px;
    margin-top: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 20px;
    
}

.two__submit{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border: none;
    color: white;
    
}

.two__card img{
    height: 200px;
    width: 200px;
}

.two{
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 5px;
}

.two__container{
    text-align: center;
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
}

.three__container{
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.three__container table{
    padding-left: 600px;
    padding-top: 5px;
    width: 300px;
}

.three__container .input {
    margin: 5px;
}

.three__submit{
    background-color: yellow;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
}

